{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">

        <div class="row">

          <div class="col-lg-12">
            <img class="img-fluid" src="/img/profile-pic.jpg" alt="icon">
          </div>

          <div class="col-lg-8 col-lg-offset-2 text-left text-container">

              {{ with .Site.Params.about.headline }}
                  <h4 class="section-heading">{{ . }}</h4>
              {{ end }}
              {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                <!--  <hr class="light"> -->
              {{ end }}
              {{ with .Site.Params.about.description }}
                  <p class="text-faded textbold">{{ . | markdownify }}</p>
              {{ end }}

          </div>
        </div>

        <div class="row text-container">
          <div class="col-lg-6">
            <img class="img-fluid" src="/img/digital-experience.jpg" alt="icon">
          </div>

          <div class="col-lg-6 text-left">
              {{ with .Site.Params.about.headline }}
                  <h4 class="section-heading">My focus</h4>
              {{ end }}
              {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                <!--  <hr class="light"> -->
              {{ end }}
              {{ with .Site.Params.about.description }}
                  <p class="text-faded textbold">Experience is everything: To design functional digital experiences that engage with the user and deliver effective journeys.</p>
              {{ end }}
              {{ with .Site.Params.about.buttonText }}
                  <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
              {{ end }}
          </div>
        </div>
    </div>
</section>
